.calender-Heigth {
  height: calc(100vh - 315px);
  overflow-y: auto;
}

.modal-footer-custom {
  display: flex;
  justify-content: end;
  gap: 4px;
}

// ::ng-deep {
//   .fc-view-harness-active {
//     height: calc(100vh - 350px) !important;
//   }
// }

::ng-deep .customer-calendar {
  .fc-header-toolbar {
    display: none;
  }

  .fc-view-harness-active {
    height: calc(100vh - 295px) !important;
  }
}

::ng-deep .admin-calendar {
  .fc-view-harness-active {
    height: calc(100vh - 125px) !important;
  }
}
