<div class="position-relative">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/admin">Admin Dashboard</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin/packages">Packages</a>
          </li>
        </ul>
        <div class="d-flex">
          <div
            *ngIf="!authService.isLoggedIn()"
            routerLink="/authentication/signin"
            class="circle-icon cursor-pointer me-lg-2"
            title="login"
          >
            <mat-icon class="mat-icon-small matIconcenter">login</mat-icon>
          </div>
          <div
            *ngIf="authService.isLoggedIn()"
            (click)="logout()"
            class="circle-icon cursor-pointer me-lg-2"
            title="logout"
          >
            <mat-icon class="mat-icon-small matIconcenter">logout</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div>
    <div class="row mx-0">
      <div class="col-9">
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="col-3 user-profile-container">
        <div class="pt-2">
          <div *ngFor="let user of userProfiles">
            <div
              class="p-2 cursor-pointer card-hover"
              (click)="readAllMessages(user)"
            >
              <div class="">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex gap-3 align-items-center">
                    <div class="position-relative">
                      <span class="avatarIcon">{{ user.avatar }}</span>
                    </div>
                    <div>
                      <span>{{ user.firstName }}&nbsp;{{ user.lastName }}</span>
                    </div>
                  </div>
                  <div *ngIf="user.isNotify" class="notification-badge">
                    {{ user.totalNotification }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-box-position">
    <app-chat-box
      (isAdminChatEvent)="handleAdminChatEvent($event)"
      [UserName]="UserNameInChat"
      [SenderTwo]="selectedUserGuid"
      [isAdminChatChild]="isAdminChat"
      [isFormOpenChild]="isFormOpen"
    ></app-chat-box>
  </div>
</div>
