<div class="card mt-2">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <ngx-datatable
          #table
          class="material"
          [rows]="packages"
          columnMode="force"
          [headerHeight]="50"
          [footerHeight]="50"
          rowHeight="auto"
          [limit]="6"
          [scrollbarH]="scrollBarHorizontal"
          [reorderable]="reorderable"
        >
          <ngx-datatable-column name="Name">
            <ng-template
              let-row="row"
              let-value="value"
              let-i="index"
              ngx-datatable-cell-template
            >
              <div class="name-col-style">
                {{ row.firstName + " " + row.lastName }}
              </div>
              <div>
                {{ row.phoneNumber }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Package Name">
            <ng-template
              let-row="row"
              let-value="value"
              let-i="index"
              ngx-datatable-cell-template
            >
              <div class="name-col-style">
                {{ row.packageName }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Sessions">
            <ng-template
              let-row="row"
              let-value="value"
              let-i="index"
              ngx-datatable-cell-template
            >
              <div>{{ row.totalNumberOfSessions }} Sessions</div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Status">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div *ngIf="row.statusId == 2" class="badge-outline col-green">
                Active
              </div>
              <div *ngIf="row.statusId == 3" class="badge-outline col-red">
                Reject
              </div>
              <div *ngIf="row.statusId == 1" class="badge-outline col-indigo">
                Pending
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Actions" [sortable]="false">
            <ng-template
              let-value="value"
              let-row="row"
              let-rowIndex="rowIndex"
              ngx-datatable-cell-template
            >
              <button
                *ngIf="row.statusId == 1"
                type="button"
                class="btn btn-success"
                (click)="
                  shoppingCartId = row.shoppingCartId;
                  openModel(openPaymentApproveModel)
                "
              >
                Payment Received
              </button>
              <button
                *ngIf="row.statusId == 2"
                type="button"
                class="btn btn-primary"
                (click)="
                  shoppingCartId = row.shoppingCartId;
                  openModel(openAddSessionsModel)
                "
              >
                Gift Session
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
<ng-template #openPaymentApproveModel let-modal>
  <div class="modal-header editRowModal">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="table-modal-header">
        <div class="modal-about">
          <div class="fw-bold p-t-10 font-17">Payment Approve</div>
        </div>
      </div>
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
  </div>
  <div class="modal-body">
    <h5>If you've received the payment, please click the "approve" button.</h5>
    <div style="margin-top:15px;"
      class="modal-footer-custom">
      <button type="button" class="btn btn-light" (click)="paymentApproved(3)">
        Reject
      </button>
      <button
        type="button"
        class="btn btn-success"
        (click)="paymentApproved(2)"
      >
        Approve
      </button>
    </div>
  </div>
</ng-template>
<ng-template #openAddSessionsModel let-modal>
  <div class="modal-header editRowModal">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="table-modal-header">
        <div class="modal-about">
          <div class="fw-bold p-t-10 font-17">Add Sessions</div>
        </div>
      </div>
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-outline">
      <input
        type="number"
        min="0"
        name="sessionCount"
        class="form-control"
        [(ngModel)]="sessionCount"
      />
    </div>
    <div
      class="modal-footer-custom mt-2"
    >
      <button
        type="button"
        class="btn btn-success"
        (click)="addSession()"
      >
        Add Sessions
      </button>
    </div>
  </div>
</ng-template>
