<div class="card mt-2">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <ngx-datatable #table class="material" [rows]="packages" columnMode="force" [headerHeight]="50"
          [footerHeight]="50" rowHeight="auto">
          <ngx-datatable-column name="Name">
            <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
              <div class="name-col-style">
                {{row.firstName + ' ' + row.lastName}}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Package Name">
            <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
              <div class="name-col-style">
                {{row.packageName}}
              </div>
              <div>
                {{row.totalNumberOfSessions}} &nbsp; Sessions
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Status">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div *ngIf="row.statusId == 1" class="badge-outline col-green">Pending
              </div>
              <div *ngIf="row.statusId == 2" class="badge-outline col-red">Active
              </div>
              <div *ngIf="row.statusId == 3" class="badge-outline col-indigo">Reject
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Phone">
            <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
              <div class="name-col-style">
                {{row.phoneNumber}}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Email" [width]="200">
            <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
              <div class="name-col-style">
                {{row.email}}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Actions" [sortable]=false>
            <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <a class="msr-2 h-auto tblEditBtn">
                <i class="fas fa-pen"></i>
              </a>
              <a class="h-auto tblDelBtn">
                <i class="far fa-trash-alt"></i>
              </a>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
