<div class="bg-white text-black container-height position-relative">
  <div class="row mx-0 pt-lg-3 px-lg-1">
    <ng-container *ngIf="package.statusId != 1 && package.statusId != 0">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <span style="font-size: 18px; font-weight: 500">{{
              package.packageName
            }}</span
            >&nbsp;
            <span style="font-size: 16px; font-weight: 500"
              >${{ package.totalPrice }}</span
            >
          </div>
          <div>
            <span style="font-size: 16px; font-weight: 500">{{
              package.totalSessions
            }}</span
            >&nbsp;
            <span style="font-size: 18px; font-weight: 500">Sessions Left</span>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card-body">
          <div class="pricing" style="margin-bottom: 0 !important;">
            <div class="pricing-title">
              {{ package.packageName }}
            </div>
            <div class="priceDetail">${{ package.totalPrice }}</div>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="count-down-timer">
          <div class="wrapper">
            <div class="description">
              <p class="timerColor">Days</p>
              <p class="timerColor">Hours</p>
              <p class="timerColor">Minutes</p>
              <p class="timerColor">Seconds</p>
            </div>
            <div class="times">
              <p class="timerColor">{{ days }}</p>
              <p class="timerColor">{{ hours }}</p>
              <p class="timerColor">{{ minutes }}</p>
              <p class="timerColor">{{ seconds }}</p>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row mx-0 my-2">
        <div class="col-12 text-end">
          <button type="button" class="btn btn-primary" (click)="syncwithGoogle()">
          Sync with google
        </button>
        </div>
      </div>
      <div>
        <app-calendar
          [customerCalendar]="customerCalendarEvent"
          [calendarEvents]="calendarEventsInput"
        ></app-calendar>
      </div>
    </ng-container>
    <ng-container *ngIf="package.statusId == 1">
      <div class="warning-message-container">
        <span class="warning-message-title">
          Please wait for the administrator to approve the package you have selected.</span>
      </div>
    </ng-container>
    <ng-container *ngIf="package.statusId == 0">
      <div class="warning-message-container">
        <span class="warning-message-title">
          Kindly select one of the available packages and subscribe to it.</span>
      </div>
    </ng-container>
    <div class="chat-box-position z-Index-1000">
      <app-chat-box [isFormOpenChild]="isFormOpen"></app-chat-box>
    </div>
    <button class="chatBtn-position bg-gray" mat-fab (click)="openClose()">
      <mat-icon *ngIf="isFormOpen">chat</mat-icon>
      <mat-icon *ngIf="!isFormOpen">chat_bubble</mat-icon>
      <div *ngIf="notification.isNotify" class="notification-badge">
        {{ notification.totalNotification }}
      </div>
    </button>
  </div>
</div>
