.pricing-title-custom {
  background-color: #6777ef;
  color: #fff;
  padding: 4px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.pricing-discription-title-custom {
  font-size: 16px;
  font-weight: 500;
}
.pricing-value-title-custom {
  font-size: 18px;
  font-weight: 500;
}
.counter-value {
  font-size: 30px;
  color: red;
  font-weight: 500;
}
.container-height {
  height: calc(100vh - 265px);
}
.chat-box-position {
  position: absolute;
  bottom: 65px;
  left: auto;
  right: 10px;
  width: 35%;
}
.chatBtn-position {
  position: absolute;
  bottom: 4px;
  left: auto;
  right: 4px;
  z-index: 100;
}
.gap-2 {
  gap: 2px;
}
.cardHeigth {
  height: calc(100vh - 830px);
}
.count-down-timer {
  box-shadow: 2px 6px 9px 2px rgb(0 0 0 / 20%);
  text-align: center;
  background-color: #313b3f;
  //max-width: 400px;
  //margin: 20px auto;
  color: #d9a74a !important;
  border-radius: 6px;
  padding: 10px;
  font-family: sans-serif;

  > p {
    margin: 5px 0 15px 0;
  }

  .wrapper {
    .description,
    .times {
      display: grid;
      grid-template-columns: repeat(4, calc(25% - 8px));
      grid-column-gap: 10px;
    }

    .description {
      > p {
        margin: 0;
        font: normal 14px sans-serif;
      }
    }

    .times {
      p {
        letter-spacing: -5px;
        position: relative;
        margin: 0;
        font: normal 40px courier, sans-serif;
        ::ng-deep img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 30px;
          display: block;
          height: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .count-down-timer {
    margin: 20px;
  }
}
.timerColor {
  color: #cc0000 !important;
}
.bg-red {
  background-color: #cc0000 !important;
}
.priceDetail {
  font-size: 22px;
  padding: 16px;
  font-weight: 900;
}
.z-Index-1000 {
  z-index: 10000;
}