<div class="backgroundImage">
  <div class="container-lg container-md px-0">
    <div class="d-lg-flex d-md-flex d-sm-none d-none row mx-0 mb-4 pt-4 justify-content-between">
      <div class="col-6">
        <img src="../../../../assets/images/png/logo.png" alt="" />
      </div>
      <div class="col-6 rheader">
        <img src="../../../../assets/images/png/lifestyle-text.png" alt="" />
      </div>
    </div>
    <app-header></app-header>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>