.backgroundImage {
  background-image: url(../../../assets/images/png/body-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
  width: 100%;
}

.rheader {
  // float: right;
  // margin-top: 25px;
  // width: 430px;
  // height: 90px;
  display: flex;
  justify-content: end;
  align-items: center;
  object-fit: cover;
}

.carousel-img-size {
  width: 100%;
}

.backgroundGradiant {
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  height: 132px;// height: calc(100vh - 551px);
}

@media (max-width: 767px) {
  .backgroundGradiant {
    height: 0px;
  }
}

@media (max-width: 991px) {
  .backgroundGradiant {
    height: calc(100vh - 679px);
  }
}
