<div>
  <div class="container-lg container-md px-0 backgroundGradiant">
    <div class="d-lg-flex d-md-flex d-sm-none d-none row mx-0 p-3 justify-content-between">
      <div class="col-6">
        <img style="height: 100px;" src="../../../../assets/images/png/logo.png" alt="" />
      </div>
      <div class="col-6 rheader">
        <img style="height: 40px;width: auto;" src="../../../../assets/images/png/lifestyle-text.png" alt="" />
      </div>
    </div>
    <app-header></app-header>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
