.backgroundImage {
  background-image: url(../../../assets/images/png/body-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
  width: 100%;
}
.rheader {
  float: right;
  margin-top: 50px;
  width: 430px;
  height: 90px;
}
.carousel-img-size {
  width: 100%;
}